<div class="eaSimplevalidation-wSimpleForm">
    <h3 class="eaSimplevalidation-wSimpleForm-header">{{register}}</h3>

    <form class="ebForm eaSimplevalidation-wSimpleForm-form">
        <div class="ebForm-block eb_wMargin">
            <div class="ebLabel">
                <div class="ebLabel-text ebLabel-text_required">{{teamName}}</div>
                <div class="ebLabel-field">
                    <input class="ebInput ebInput_width_xLong eaSimplevalidation-wSimpleForm-login"/>
                </div>
            </div>
        </div>
        <div class="ebForm-block eb_wMargin">
            <div class="ebLabel">
                <div class="ebLabel-text ebLabel-text_required">{{name}}</div>
                <div class="ebLabel-field">
                    <input class="ebInput ebInput_width_xLong eaSimplevalidation-wSimpleForm-name"/>
                </div>
            </div>
        </div>
        <div class="ebForm-block eb_wMargin">
            <div class="ebLabel">
                <div class="ebLabel-text ebLabel-text_required">{{sprint}}</div>
                <div class="ebLabel-field">
                    <input class="ebInput ebInput_width_xLong eaSimplevalidation-wSimpleForm-email"/>
                </div>
            </div>
        </div>
        <div class="ebForm-block eb_wMargin">
            <button type="button" class="ebBtn ebBtn_color_darkBlue eaSimplevalidation-wSimpleForm-saveBtn">{{save}}</button>
        </div>
    </form>
</div>
